@model Manual_Identity.Models.CourseViewModel
@{
    ViewData["Title"] = "AddCourse";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

}

 <div class="page-header min-vh-100">
        <div class="container">
            <div class="row">
                    <div class="col-md-4" asp-validation-summary="All"></div>

                <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                    <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('../assets/img/illustrations/illustration-signup.jpg'); background-size: cover;">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5" style="margin-top:50px">
                    <div class="card card-plain" >
                        <div class="card-header">
                            <h4 class="font-weight-bolder">Add Course</h4>
                        </div>
                        <div class="card-body">
                            <form method="post"  asp-action="AdCourse">
                                <div class="input-group input-group-outline mb-3">
                                   <input type="hidden" asp-for="CourseId" />
                                   
<<<<<<< HEAD
                                    <input  asp-for="Name" placeholder="Course Name" class="form-control">
                                      <span asp-validation-for="Name"></span>
                                </div>
=======
                                <input  asp-for="Name" placeholder="Course Name" class="form-control">
                                <span asp-validation-for="Name"></span>
                              @*  @Html.DropDownList("Name",
                                         new SelectList(Enum.GetValues(typeof(CourseName))),
                                         "Select Course",
                                         new { @class = "form-control form-select" })*@
                                        </div>
                            
                            @*                                <tr>
                                <td> Populating With Hardcoded Data</td>
                                <td>
                                @Html.DropDownList("MySkills", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="ASP.NET MVC", Value = "1" },
                                new SelectListItem{ Text="ASP.NET WEB API", Value = "2" },
                                new SelectListItem{ Text="ENTITY FRAMEWORK", Value = "3" },

                                })
                                </td>
                                </tr>*@


>>>>>>> 0ab365ef4b88f303d38a71dfe6eba7c3d22a4e27
                                <div class="input-group input-group-outline mb-3">
                                    <input  asp-for="Details" placeholder="Course Details" class="form-control">
                                      <span asp-validation-for="Details"></span>
                                </div>
<<<<<<< HEAD
                            
                               
=======
                            @if (ViewBag.Message != null && ViewBag.Message == "Exist")
                            {
                                    <span style="color:red;"> Same Data Already exist.</span>                      
                            }

>>>>>>> 0ab365ef4b88f303d38a71dfe6eba7c3d22a4e27
                                <div class="text-center">
                                    <button type="submit"  class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Save</button>
                                </div>
                            </form>
                        </div>
<<<<<<< HEAD
                      @*  <div class="card-footer text-center pt-0 px-lg-2 px-1">
                            <p class="mb-2 text-sm mx-auto">
                                Already have an account?
                                <a asp-controller="Account" asp-action="Login" class="text-primary text-gradient font-weight-bold">Sign in</a>
                            </p>
=======
                    @*  <div class="card-footer text-center pt-0 px-lg-2 px-1">
                        <p class="mb-2 text-sm mx-auto">
                        Already have an account?
                        <a asp-controller="Account" asp-action="Login" class="text-primary text-gradient font-weight-bold">Sign in</a>
                        </p>
>>>>>>> 0ab365ef4b88f303d38a71dfe6eba7c3d22a4e27
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

    </div>

<<<<<<< HEAD
    <script>
 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</script>
=======
    <script type="text/javascript" src="~/js/site.js"></script>
    <script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</script>
@*<script>
    <partial name="_ValidationScriptsPartial">
    </script>*@
>>>>>>> 0ab365ef4b88f303d38a71dfe6eba7c3d22a4e27
