<h1>Welcome to Dashboard</h1>

<button type="button" class="btn btn-primary btn-lg">
    <a asp-controller="Account" asp-action="UsersList" style="color:white;text-decoration: none; ">User List</a>

    </button>
<button type="button" ap-controller="Acccount" asp-action="Logout" class="btn btn-primary btn-lg">Log Out</button>
