@model Manual_Identity.ViewModels.SalesViewModel
@{
    ViewData["Title"] = "Customer";
    //Layout = "~/Views/Shared/SideNavBar.cshtml";
   
}
<body style="margin-left:0px;">


@*  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
  <link rel="stylesheet" href="~/css/sales.css" />
 
  <div class="sales_container ">
      <div class="col-md-4"  asp-validation-summary="ModelOnly"></div>
      <form method="post" asp-action="Sales">
         <div style="width:100%;background-color:blue;padding:5px 10px">
           <h6 >Purchase Information</h6>
         </div>
        
        <div class="row mt-2" style="padding:0px 10px;">
           <div class="col-sm-4">
               <input asp-for="SalesDate" value="" type="hidden"/>
             <label class="form-label">Invoice No:</label>
             <input asp-for="InvoiceNumber" class="form-control inv" value="@ViewBag.Inv" readonly/>
             <span asp-validation-for="InvoiceNumber" ></span>
           </div>
           <div class="col-sm-4">
             <label class="form-label">Purchase Date:</label>
                    <input asp-for="SalesDate" value="@ViewData["DataTime"]" class="form-control" />
             @*<span asp-validation-for="SalesDate"></span>*@
           </div>
            <div class="col-sm-4 mb-3">
             <label class="form-label">Customer ID:</label>
             <select asp-for="CustomerId" class="form-control  max-width-300" id="customer_id"
               asp-items="@(new SelectList(ViewBag.Customer,"CustomerId","CustomerName"))"></select>
           </div>
           <div class="col-sm-4">
              <label class="form-label">Item ID:</label>
              <select asp-for="ItemId" class="form-control ml-10 max-width-300" id="item_id"
                 asp-items="@(new SelectList(ViewBag.Item,"ItemId","ItemName"))"></select>
           </div>
            <div class="col-sm-4">
             <label class="form-label">Quantity:</label>
             <input asp-for="Quantity" class="form-control" id="quantity_id" />
             <span asp-validation-for="Quantity"></span>
           </div>
           <div class="col-sm-4">
             <label class="form-label">Unit Price:</label>
             <input asp-for="UnitPrice" class="form-control" id="unitprice_id" />
             <span asp-validation-for="UnitPrice"></span>
           </div>
        </div>
          <input type="button" class="btn btn-success addtocart" style="margin-top:15px;margin-left:10px;padding:7px 10px;" value="Add To Cart"/>
          <div class="cartlist">             
                    <div class="emptycart">
                        Cart List is Empty...               
                    </div>
                        <div id="show_tab">
                    @*Cart table show here *@
              </div>
              <div id="cal" style="margin-top: 20px; margin-left:10px;"></div>
   
             </div>

              <div id="to" class="row" style="display:none; margin:20px 10px;padding:20px 10px;border: 2px solid white;">
                      <div class="col-sm-4">
                              <label asp-for="TotalAmount"  class="form-label"></label>
                              <input  asp-for="TotalAmount"  class="form-control" id="totalamount_id" readonly><br />
                              <span asp-validation-for="TotalAmount"></span>
                          </div>
                           <div class="col-sm-4">
                              <label asp-for="PaidAmount"  class="form-label"></label>
                            <input  asp-for="PaidAmount" placeholder="PaidAmount" class="form-control" id="paidamount_id"><br />
                                <span asp-validation-for="PaidAmount"></span>
                          </div>
                           <div class="col-sm-4">
                              <label asp-for="BalanceAmount"  class="form-label"></label>
                            <input  asp-for="BalanceAmount" placeholder="Balance" class="form-control" id="balanceamount_id" readonly ><br />
                             <span asp-validation-for="BalanceAmount"></span>
                          </div>
                          <div style="margin:20px 10px">
                 <button type="submit" class="btn btn-primary">Save</button>
                 <button type="submit" formmethod="get" asp-controller="Stud_Dep" asp-action="StudentList" class="btn btn-primary">Back</button>
                 </div>
                 </div>
       
                 
  </form>
  </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
@*  <script src="~/js/Cart.js"></script>*@




   <script>
    var totalprice = 0;
    var totalamount = 0;
    var uq = 0;
    var k = 0;
    var count = 0;
    var content;
    var cal;
    var sno=1;
    var n=0;
    $(".addtocart").click(function () 
    {

        //$('.emptycart').css('display', 'none');
        //$('#to').css('display', 'block');
        //$('#show_tab').css('display', 'block');
        var invoice = $("#invoice_id").val();
        var inv = $(".inv");
        var customer = $("#customer_id").val();
        var item = $("#item_id").val();
        //var itemName = $("#item_id").text();
        var itemName = $("#item_id option:selected").text();
        var quantity = $("#quantity_id").val();
        var unitprice = $("#unitprice_id").val();
        var carttitle = $(".customer-title");
        var itemtitle = $(".item-title");       
        //totalamount=totalprice+totalamount;
        var totalprice = (quantity * unitprice);
        if(n==0)
        {
            $('.emptycart').css('display', 'block');
        }
        if(quantity=="" || unitprice=="" )
        {
        return;
        }

        else
        {
            $('.emptycart').css('display', 'none');
            $('#to').css('display', 'flex');
            $('#show_tab').css('display', 'block');
            n++;
        }
        for (var i = 0; i < carttitle.length; i++) {
            if (carttitle[i].innerText == customer && itemtitle[i].innerText == item) {
                var c_quant = $(".quantity");
                var c_price = $(".price");
                var c_total = $(".total");
                var o_total = $(".total")[i].innerText;
                var o_quant = $(".quantity")[i].innerText;
                uq=parseInt(quantity) +parseInt(o_quant);
                c_quant[i].innerHTML = uq;
                c_price[i].innerHTML = unitprice;
                debugger;
                totalprice = (uq * unitprice)
                c_total[i].innerHTML = totalprice;
                totalamount = totalamount + totalprice - o_total;
                $('#totalamount_id').val(totalamount);
                var p = parseFloat($('#paidamount_id').val()) || 0;
                $('#balanceamount_id').val(p-totalamount);
                //$("#quantity_id").val("");
                //$("#unitprice_id").val("");
                return
            }
        }        

        if (count == 0)
        {
            content = "<div class='row'> <div class='col-sm-2' style='display:none'>Customer Id</div> <div class='col-sm-2' style='display:none'>Item Id</div> <div class='col-sm-2'>Serial No</div>  <div class='col-sm-2'>Item Name</div> <div class='col-sm-2'>Quantity</div> <div class='col-sm-2'>Unit Price</div>  <div class='col-sm-2'>Total Price</div> <div class='col-sm-2'>Actions</div></div>"
            //content ="<label class='form-label'>Customer Id<label> <label class='form-label'>Item Id<label> <label class='form-label'>Item Name<label> <label class='form-label'>Quantity<label> <label class='form-label'>Unit Price<label>"
            //content = "<tr><th>InVoice No</th><th>Customer Id</th><th>Item Id</th><th>Item Name</th><th>Quantity</th><th>Unit Price</th><th>Total Price</th></tr>";
            $('#show_tab').append(content);
            count++;
        }    
        content = " <div class='row jscartitem' > <div class='jrcart col-sm-2 customer-title' style='display:none'/>" + customer + "</div> <div class='jrcart col-sm-2 item-title' style='display:none'>" + item + "</div>  <div class='col-sm-2 jrcart sn'>" + sno + "</div> <div class='col-sm-2 jrcart'>" + itemName + "</div> <div class=' jrcart col-sm-2 quantity' id='qu_id'>" + quantity + "</div> <div class='jrcart col-sm-2 price' >" + unitprice + "</div> <div class='col-sm-2 total' id='tp'>" + totalprice + "</div><div class='col-sm-2'><input type='button' class='btn btn-primary removeitem'  value='Delete'/><input type='button' style='margin-left:3px;' class='btn btn-primary updatequantity' value='Update'/></div></div>"
        $('#show_tab').append(content);
        count++;
        sno++;  
        totalamount = totalprice + totalamount;
        $('#to').css('display', 'flex');
        var t_a = $('#totalamount_id').val(totalamount);
        var value1 = parseFloat($('#totalamount_id').val()) || 0;
        var value2 = parseFloat($('#paidamount_id').val()) || 0;
        $('#balanceamount_id').val(value2 - value1);       
        $('#paidamount_id').keyup(function ()
        {
            var value1 = parseFloat($('#totalamount_id').val()) || 0;
            var value2 = parseFloat($('#paidamount_id').val()) || 0;
            $('#balanceamount_id').val(value2 - value1);
        });
           //$("#quantity_id").val("");
           //$("#unitprice_id").val("");
            
           $(".removeitem").off().click(function(e) 
            {    
               //event.stopPropagation();
               //event.stopImmediatePropagation();
 
                 if(e.target && e.target.classList.contains('removeitem'))
                 {
                  alert("Are you sure you want to delete");
                  var d_total=$(this).closest('.jscartitem').find('.total').text();
                  var p= parseInt(d_total);
                  var value1 = parseFloat($('#totalamount_id').val()) || 0;
                  var value2 = parseFloat($('#paidamount_id').val()) || 0;
                  totalamount=value1-d_total;
                  $('#totalamount_id').val(totalamount);
                  $('#balanceamount_id').val(value2 - totalamount);       
                  $(this).closest('.jscartitem').remove();
                  var c=sno;
                  var s=1;
                  sno=1;
                  var carttitle = $(".customer-title");
                  for(var i=0;i<carttitle.length;i++)
                    {      
                        var r_sno = $(".sn");
                        var s_sno = $(".sn")[i].innerText;
                        r_sno[i].innerHTML = sno;
                        sno=sno+1;
                    }
                    n--;
                    if(n==0)
                    {
                        $('.emptycart').css('display', 'block');
                        $('#to').css('display', 'none');
                        $('#show_tab').css('display', 'none');
                    }                  
                  }
                });       

                $(".updatequantity").off().click(function()
                {  
                   
                      var e;
                      var person = prompt("please enter new quantity", e);
                      if (person != null)
                      {            
                           var pp=parseInt(person);
                           var p_price=$(this).closest('.jscartitem').find('.price').text();// Get Previous Unit price
                           $(this).closest('.jscartitem').find('.quantity').text(pp);// Quantity set
                           var p_total=$(this).closest('.jscartitem').find('.total').text(); // previous total of updated item
                           p_total=parseInt(p_total);
                           var u_total=parseInt(p_price)*pp;
                           $(this).closest('.jscartitem').find('.total').text(u_total);
                           var value1 = parseInt($('#totalamount_id').val()) || 0;
                           var value2 = parseInt($('#paidamount_id').val()) || 0;
                           p_price=parseInt(p_price);
                           totalamount=value1-p_total+u_total;
                           $('#totalamount_id').val(totalamount);
                           $('#balanceamount_id').val(value2 - totalamount);   
                      }
                    
                });
     
    });
   


  
   </script>
  

@*  <script>
      var totalprice=0;  
      var totalamount=0;
      var count=0;
      var content;
      var cal;
      $(".addtocart").click(function()
      {
          var invoice =$("#invoice_id").val();
          var customer =$("#customer_id").val();
          var item =$("#item_id").val();
          var itemName =$("#item_id").text();  
          var quantity =$("#quantity_id").val();
          var unitprice =$("#unitprice_id").val();

          var carttitle=$(".customer-title");
          var itemtitle=$(".item-title");

          //totalamount=totalprice+totalamount;
          var totalprice=(quantity*unitprice);
        // Already Exists
          for(var i=0;i<carttitle.length;i++)
          { 
              if(carttitle[i].innerText==customer && itemtitle[i].innerText==item )
              {
                  alert("Already Exist Item so quantity updat ");                 
                  debugger;
                  var c_quant=$(".quantity");
                  var c_price=$(".price");
                  var c_total=$(".total");
                      
                  //var o_total=c_total[i].innerText;
                  var o_total=$(".total")[i].innerText;
                  alert("ammar");
                  c_price[i].innerHTML=unitprice; 
                  c_quant[i].innerHTML=quantity; 
                  c_total[i].innerHTML=totalprice;
                  totalamount=totalamount+totalprice-o_total;
                  $('#totalamount_id').val(totalamount);
             


                  return
              }
          }
          if(count==0)
          {
             content="<tr><th>InVoice No</th><th>Customer Id</th><th>Item Id</th><th>Item Name</th><th>Quantity</th><th>Unit Price</th><th>Total Price</th></tr>";
             $('#show_tab').append(content);
             count++;
          }    
           content="<tr><td>"+invoice+"</td> <td class='customer-title'>"+customer+"</td> <td class='item-title'>"+item+"</td> <td>"+itemName+"</td>  <td class='quantity'>"+quantity+"</td> <td class='price'>"+unitprice+"</td> <td class='total'>"+totalprice+"</td</tr>"
           $('#show_tab').append(content);
           count++;          
          totalamount=totalprice+totalamount;
           //total amount,paid amount,total balance
           $('#to').css('display', 'block');

           var t_a= $('#totalamount_id').val(totalamount);  
           $('#paidamount_id').keyup(function(){
           var value1 = parseFloat($('#totalamount_id').val()) || 0;
           var value2 = parseFloat($('#paidamount_id').val()) || 0;
           $('#balanceamount_id').val(value2 - value1);
            });

      });

  </script>*@
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    </body>