html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: sans-serif;
}

.field-validation-error {
    color: red !important;
}


.logincard {
    margin-bottom: 20px;
    border: none;
}

.box {
   
    padding: 40px;
    border-radius: 7px;
    // margin-left: 300px;
    height: 520px;
    background: currentColor;
    text-align: center;
    transition: 0.25s;
    margin-bottom:70px;
}



    .box input[type="Email"],
    .box input[type="Password"] {
        border: 0;
        background: none;
        display: block;
        margin: 30px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 10px 10px;
        width: 250px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s
    }

    .box h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .box input[type="Email"]:focus,
    .box input[type="password"]:focus {
        width: 300px;
        border-color: #2ecc71
    }

    .box button[type="submit"] {
        /*border: 0;*/

        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 10px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer
    }

        .box button[type="submit"]:hover {
            background: #3498db
        }

.dashboard {
    width: 500px;
    padding: 40px;
    border-radius: 7px;
    height: 400px;
    background: currentColor;
    text-align: center;
}

    .dashboard h3 {
        color: aqua;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .dashboard button {
        width: 300px;
        border-radius: 30px;
        background: none;
        display: block;
        margin: 40px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 15px 40px;
        outline: none;
        color: white;
        transition: 0.25s;
    }

        .dashboard button:hover {
            background: #3498db
        }

.edit {
    background-color: #000000b0;
    color: white;
    display: block;
    width: 450px;
    padding-left: 40px;
    border-radius: 7px;
    height: 730px;
}

    .edit label {
        margin-right: 25px;
    }

    .edit input, .edit select {
        background: none;
        width: 250px;
        padding: 15px 45px;
        margin-top: 10px;
        outline: 0px;
        border: 0;
        border-bottom: 1px solid white;
        color: white;
    }

        .edit input:focus {
            border: 0;
            transition: 0.5s;
            color: #23d6df;
            border-bottom: 1px solid #23d6df;
        }

    .edit option {
        background-color: black;
    }

.editbtn button {
    width: 100px;
    margin-top: 25px;
    border-radius: 10px;
    background: none;
    margin-right: 20px;
    margin-bottom: :20px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 8px 25px;
    color: white;
}

    .editbtn button :hover {
        border: 2px solid #3498db;
        background-color: #23d6df;
    }

.userlist table, .userlist table th, .userlist table tr, userlist table td {
    border: none;               
    padding: 20px 30px;
    font-size: 14px;
    color: #fff;
    border-bottom: 4px solid #2b3035
}

.listbtn button {
    color: white;
    width: 80px;
    background: none;
    border: 0;
    padding: 7px 20px;
    border-radius: 15px;
    border: 1px solid #0089ffc2;
    margin-bottom: 2px;
    text-align: center;
}

.listbtn :hover {
    background: #0089ffc2;
    border: 1px solid green;
    transition: 1s;
}

//////////////////////////////////////
