@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row justify-content-center">

    <div class="col-md-4" asp-validation-summary="All">
        <h2 style="margin-left:80px">Register</h2>

        <form method="post" enctype="multipart/form-data">

            <hr />
            <div class="form-floating mb-2">
                <input type="hidden" asp-for="Id" autocomplete="off" value="0" />
                <input type="hidden" asp-for="ImgPath" autocomplete="off" value="" />

                <input asp-for="FirstName" class="form-control" autocomplete="on" />
                <label asp-for="FirstName"> First Name</label>
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="LastName" class="form-control" autocomplete="on" />
                <label asp-for="LastName"> Last Name</label>
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="UserName" class="form-control" autocomplete="on" />
                <label asp-for="UserName"> User Name</label>
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group mb-2">
                <select asp-for="Gender" class="form-select">
                    <option value="">Select Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other..</option>
                </select>
                <span class="text-danger " asp-validation-for="Gender"></span>
            </div>

            <div class="form-floating mb-2">
                <input asp-for="Email" class="form-control" />
                <label asp-for="Email"> Email</label>
                <span asp-validation-for="Email"></span>
            </div>


            <div class="form-floating mb-2">
                <input asp-for="Password" class="form-control" autocomplete="off" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="ConfirmPassword" class="form-control" />
                <label asp-for="ConfirmPassword"></label>
                <span class="text-danger " asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="pt-2  mb-2 ">
                <input type="file" name="img" class="form-control" onChange="previewFile(this)" />
                <img id="imgPreview" src="#" alt="pic" style="height: 300px; width: 100%; border: 2px solid black;display:none" />
            </div>

            <button class="btn btn-primary" type="submit">Register</button>


        </form>

    </div>
</div>



<script>
        function previewFile(input)
        {
           var file = $("input[type=file]").get(0).files[0];
           if(file)
           {
            var s=URL.createObjectURL(file);
            $("#imgPreview").show();
            $("#imgPreview").attr("src", s);
           }
       }

</script>

<partial name="_ValidationScriptsPartial" />

